.form-card-signup {
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

input {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

