.container {
    width: 80%;
    margin: 0 auto;
}

.main-body {
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid grey;
    color: rgb(100,100,100);
    background-color: white;
    border-radius: 5px;
}

#submit-button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

input, textarea {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
